body {
     
    background-color: #d3f3f3;
  }
  h1 {
    color: #66BFBF;
   }
   h3 {
   color: #66bfbf;

   }
  hr {
    
    border-style: dotted none none none;
    border-color: blue;
    border-top-width: 10px;
    width: 5%;
   }
  