body {
     
    background-color: #9fe7e7;
  }

  hr {
    
    border-style: dotted none none none;
    border-color: blue;
    border-top-width: 10px;
    width: 5%;
   }
   h1 h3{
    color: #66bfbf;

   }